<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>270668588559-mbmf7o7ajtgijqrqde6otgjae04eb1hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270668588559-mbmf7o7ajtgijqrqde6otgjae04eb1hg</string>
	<key>API_KEY</key>
	<string>AIzaSyC0ieehYwyCFbNB63lTf2Ii9wCMmfNH-fc</string>
	<key>GCM_SENDER_ID</key>
	<string>270668588559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.applory.FaceTag</string>
	<key>PROJECT_ID</key>
	<string>facetag-b0ef2</string>
	<key>STORAGE_BUCKET</key>
	<string>facetag-b0ef2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270668588559:ios:ba45ed76c3c42766</string>
	<key>DATABASE_URL</key>
	<string>https://facetag-b0ef2.firebaseio.com</string>
</dict>
</plist>